<div ng-controller="headerController">
	<!--
	<nav class="navbar">
		<a href="/#!/home" class="navbar-brand">Menu</a>
		<a href="/#!/profil" class="navbar-brand">Profil</a>
		<button ng-click="logout()" class="btn btn-primary">Deconnexion</button>
	</nav>
	-->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Cerigame</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
			aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/#!/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" ng-click="goToProfil()">Profil</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<button class="btn btn-secondary my-2 my-sm-0" ng-click="logout()">Deconnexion</button>
			</form>
		</div>
	</nav>

</div>

<style>