<div ng-include="'header.html'"></div>

<p>Temps : {{ timer }}</p>
<div ng-switch="is_end">
  <div g-switch-default="false">
    <div ng-show="is_not_answered">
      <p>Question : {{ listQuestions[activeQuestion].question }}</p>
      <ul>
        <li ng-repeat="answer in listAnswer">
          <button ng-click="reveal(answer)">{{ answer }}</button>
        </li>
      </ul>
    </div>
    <div ng-show="is_answered">
      <p>La bonne réponse est : {{ goodAnswer }}</p>
      <p>{{ anecdote }}</p>
      <button ng-click="nexto()"></button>
    </div>
  </div>

  <div ng-switch-when="true">
    <h2>Tu as terminé le quizz !</h2>
    <h3>Tu as {{ nbGoodAnswers }} sur {{ nbQuestions }}</h3>
    <a href="/#!/home"><button>Retour Menu</button></a>
  </div>
</div>
